Backup/QualificationsWebSystem/Service References/ModuleService/ModuleAdminService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AcademicServicesHostIIS/ModuleAdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost/AcademicServicesHostIIS/ModuleAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfListTypeProgramq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListTypeProgram" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfListTypeProgramq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfListTypeProgramq1ogP6Jz" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfGraduateProgramq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GraduateProgram" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfGraduateProgramq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfGraduateProgramq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfStatusOpeningq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StatusOpening" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStatusOpeningq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfStatusOpeningq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfGlobalPlanq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GlobalPlan" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfGlobalPlanq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfGlobalPlanq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfContentThematicq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ContentThematic" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfContentThematicq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfContentThematicq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfStatusThemeq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StatusTheme" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStatusThemeq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfStatusThemeq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfEndEvaluationq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EndEvaluation" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfEndEvaluationq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfEndEvaluationq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfEvaluationPlanq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EvaluationPlan" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfEvaluationPlanq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfEvaluationPlanq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfListAccountStatusq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListAccountStatus" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfListAccountStatusq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfListAccountStatusq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfPersonq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPersonq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfPersonq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfListRoleq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ListRole" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfListRoleq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfListRoleq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfUserAccountq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserAccount" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfUserAccountq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfUserAccountq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfTeachingModuleq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TeachingModule" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTeachingModuleq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfTeachingModuleq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfStudentModuleq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StudentModule" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStudentModuleq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfStudentModuleq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfTotalsq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Totals" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfTotalsq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfTotalsq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfStatusGlobalPlanq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StatusGlobalPlan" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStatusGlobalPlanq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfStatusGlobalPlanq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfModuleq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Module" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfModuleq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfModuleq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfOpeningProgramq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OpeningProgram" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfOpeningProgramq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfOpeningProgramq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfVersionq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Version" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfVersionq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfVersionq1ogP6Jz" />
  <xs:complexType name="EntityReferenceOfStatusModuleq1ogP6Jz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StatusModule" Namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStatusModuleq1ogP6Jz" nillable="true" type="tns:EntityReferenceOfStatusModuleq1ogP6Jz" />
</xs:schema>