QualificationsWebSystem/Service References/QualificationService/QualificationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AcademicServicesHostIIS/QualificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" />
  <xs:element name="InsertQualification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" minOccurs="0" name="entity" nillable="true" type="q1:Qualifications" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evalCode" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualificationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQualificationIdResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualificationTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" minOccurs="0" name="entity" nillable="true" type="q2:Totals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualificationTotalsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>