Backup/QualificationsWebSystem/Service References/PolicyPasswordService/PolicyPasswordService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcademicsServicesDIPP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AcademicServicesHostIIS/PolicyPasswordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="PasswordPolicy">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordPolicyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegularExpression" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordPolicy" nillable="true" type="tns:PasswordPolicy" />
</xs:schema>